*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 16px;
}
header{
    background-color: black;
    color: white;
    display: inline-flex;
    width: 100%;
    height: 68px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    height: 50px;
    margin: 10px;
}
h6{
    margin-top: 25px;
    margin-left: -9px;
    font-size: 15px;
    font-weight: normal;

}
.add{
    font-weight: normal;
    font-size: 14px;
    margin: 5px;
    padding: 10px;
    margin-left: 15px;
    
}
p{
    font-weight: bold;
    margin-left: 17px;
    margin-top: 20px;
    /* margin: 20px 0 0 10px; */
    
}
.add:hover{
     outline: 1px solid white; 
     /* outline: radius 25px; */
}
span{
    color: rgb(206, 197, 197);
}
nav{
    background-color: #212F3D;
    color: white;
    /* display: inline-flex; */
}
nav ul li{
    display: inline-flex;
    margin: 9px;
    padding: 5px 10px;
}
.img{
    float: right;
    margin-top: -4px;
    margin-right: auto;
    
}
li:hover{
    outline: 1px solid white;
}
.img:hover{
    outline: 1px solid white;
}   
.searchbtn{
    position: absolute;
    width: 40px;
    height: 39px;
    margin-top: 15px;
    margin-left: -5px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0px 4px 4px 0;
}
.searchterm{
    float: left;
    outline: none ;
    width: 700px;
    height: 37px;
    margin-top: 15px;
    border: 1px solid white ;
    border-radius: 4px 0 0 4px ;

}
.india{
    margin-left: 50px;
}
.para1,.ord{
    margin-left: -1px;
    /* padding-left: 2px; */
    font-size: 14px;
}
.sign,.order{
    padding: 18px;
    font-size: 12px;
}
.img1{
    width: 60%;
    margin-left: -5px;
}
.bg{
    /* background-color: #eee; */
    width: 98%;
    height: 250px;
    position: relative;
    margin-top: -10px;

}
/* #bdyprt{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #eee;
} */

#block{
    display: inline-flex;
    background-color: #eee;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border-right: 20px solid #eee;
    
}
.block-1,.block-2,.block-3,.block-4,.block-5,.block-6,.block-7,.block-8{
    background-color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    
}
p{
    font-size: 20px;
    padding-top: 5px;
}
.block1-1,.block2-1,.block3-1,.block4-1,.block5-1,.block6-1,.block7-1,.block8-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.fig1,.fig2,.fig3,.fig4,.fig5,.fig6,.fig7,.fig8,.fig9,.fig10,.fig11,.fig12{
    width: 90%;
    height: 80%;

}
figcaption{
    margin-top: -10px;
    margin-left: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
#Today{
    border: 20px solid #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.deal,.product{
    display: inline-flex;
    width: 100%;
    /* overflow-x: scroll; */
}
#deals img,#Products img,#Furniture img{
     /* width: 200px; */
     height: 200px;
     /* overflow-x: scroll; */
}
#deals span{
    font-size: 14px;
    color: #007185;
    font-weight: normal;
}
#Products{
    border-top: 20px solid #eee;
}
#Store{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #eee;
    border-right: 20px solid #eee;
    
}
.Babymsk{
    
    margin-left: 20px;
    /* margin-top: 20px; */
    /* border: 20px solid #eee; */
    background-color: #fff;
    padding: 10px;
    
} 
.masks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 20px solid #eee; */
}
.Babymsk img{
    width: 90%;
    height: 80%;
}
#Furniture{
    /* margin: 20px; */
    border: 20px solid #eee;
}
#footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    background-color:#37475A;
    color: white;
    padding: 15px;
    text-align: center;
    line-height: 19px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: bold; */
}
#nav-top{
    background-color: #212F3D;
    color: white;

}